<!doctype html>
<title>ABC Now Playing</title>
<META HTTP-EQUIV="refresh" CONTENT="{{ REFRESH_INTERVAL }}">
{% if title %}
	<center>
	<h1> {{ title }}!</h1>
	<p>by</p>
	<h2> <a href="{{ itunes_url }}">{{ artistName }}</a> </h2>
	<p>on</p>
	<h2> {{ albumName }} ({{ dateCopyrighted }})</h2>
	<p>{{ publisher }} </p>
	</center>
{% else %}
  <h1>Something odd happened!</h1>
{% endif %}